@{
    ViewBag.Title = "Development Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid text-center bg-grey">
    <h2>Meet our Team!</h2>
    <div class="row text-center">
        <div class="col-sm-4 ">
            <div class="thumbnail">
                <img src="~/Content/img/Edvardas.jpg" alt="1">
                <p><strong>Edvardas-Arnoldas Alaburda</strong></p>
                <p>Web API, Front-end</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Content/img/Mindaugas.jpg" alt="New York">
                <p><strong>Mindaugas Laskas</strong></p>
                <p>Xamarin</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Content/img/Dalius.jpg" alt="San Francisco">
                <p><strong>Dalius Žukauskas</strong></p>
                <p>...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Content/img/Arnas.jpg" alt="San Francisco">
                <p><strong>Arnas Kvedaras</strong></p>
                <p>Web App</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Content/img/Arturas.jpg" alt="San Francisco">
                <p><strong>Artūras Petruškevičius</strong></p>
                <p>Xamarin</p>
            </div>
        </div>
    </div>
</div>
