
@{
    ViewBag.Title = "ControlPanel";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<div align="center">
        <h1>You are Guard</h1>
        <p>Choose an option..</p>

        <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Visits", "Guard")'">Show upcoming guests</button>
            <br />
        </div>
</div>