@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}
<h1>You are Guest</h1>
<p>Choose an option..</p>

<h2>Development team is working for you to have options...</h2>
