<div class="jumbotron">
    <h1>KentSoft WebAPI</h1>
    <p class="lead">Current build based on: @("@")xfusion branch @("@") KentSoft-KTUdev</p>
    <p><a href="https://github.com/KentSoft-KTUdev/KTUnited" class="btn btn-primary">Github repository &raquo;</a></p>
</div>