
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}
<div align="center">
<h1>You are resident</h1>
<p>Choose an option..</p>

<div class="btn-group-vertical" data-toggle="buttons">
    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("RegisterGuest", "Resident")'">Register a new guest</button>
    <br />
    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("RegisterVisitedGuest", "Resident")'">Register a visit</button>
    <br />
    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("MyVisits", "Resident")'">Upcoming visitors</button>
</div>
</div>