
@{
    ViewBag.Title = "ControlPanel";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<style>
    article, aside, figure, footer, header, hgroup,
    menu, nav, section {
        display: block;
    }


    #button {
        margin-bottom: 30px;
    }

</style>

<body>
    <div align="center">
        <h1>Welcome</h1>
        <p>Choose an option..</p>

        <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" id="button" class="btn btn-lg" onclick="location.href='@Url.Action("RegisterGuest", "Resident")'">Register a new guest</button>
            <button type="button" id="button" class="btn btn-lg" onclick="location.href='@Url.Action("RegisterVisitedGuest", "Resident")'">Register a visit</button>
            <button type="button" id="button" class="btn btn-lg" onclick="location.href='@Url.Action("MyVisits", "Resident")'">Upcoming visitors</button>
        </div>
    </div>
</body>