
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<style>
    body {
        text-align: center;
    }
</style>

<body>
    <h1>You are resident</h1>
    <p>Choose an option..</p>

    <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("RegisterForm", "Resident")'">Register a resident</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("RegisterGuest", "Resident")'">Register a guest</button>
    </div>
</body>