
@{
    ViewBag.Title = "RegisterGuest";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}   


    <h2>Register a guest</h2>

    <div>
        <form action="">

            <div class="form-group">
                <label for="usr">First Name:</label>
                <input type="text" class="form-control" id="firstname">
            </div>
            <div class="form-group">
                <label for="pwd">Last Name:</label>
                <input type="text" class="form-control" id="lastname">
            </div>

            <label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="date">
            </div>
            <br />

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>