@using WebAPI.DataModels
@{
    ViewBag.Title = "RegisterForm";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}
<h2>Registration form of a resident</h2>

<form action="">

    <div class="form-group">
        <label for="usr">First Name:</label>
        <input type="text" class="form-control" id="firstname">
    </div>
    <div class="form-group">
        <label for="pwd">Last Name:</label>
        <input type="text" class="form-control" id="lastname">
    </div>
    <div class="form-group">
        <label for="personcode">Personal code:</label>
        <input type="number" class="form-control" id="personcode">
    </div>

    <label for="sel1">Select dormitory :</label>
    <select class="form-control" id="dorm">
    </select>
    <br />

    <label for="sel1">Select room :</label>
    <select class="form-control" id="room">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
    <br />

    <button type="submit" class="btn btn-default">Submit</button>
</form>
