
@{
    ViewBag.Title = "Successful";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

    <center><h1>Your registration was successful</h1></center>
    <br>
    <br>
    <center><button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("ControlPanel", "Resident")'">Menu</button></center>


