@{
    ViewBag.Title = "User web app";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<div align="center">
    <h1>Welcome</h1>
    <p>Sign in as..</p>
    <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Index", "Resident")'">Resident</button>
        <br />
        <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Index", "Guard")'">Guard</button>
        <br />
        <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Index", "Admin")'">Admin</button>
    </div>

</div>

