
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<div align="center">
     <h1>You are Admin</h1>
<p>Choose an option..</p>

<div class="btn-group-vertical" data-toggle="buttons">
    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("ResidentForm", "Admin")'">Register a resident</button>
    <br />
    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("RegisterGuard", "Admin")'">Register a guard</button>
    <br />
    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("RegisterDormitory", "Admin")'">Add a dormitory</button>
    <br />
    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("RegisterRoom", "Admin")'">Add a room</button>
    <br />
</div>
</div>
