
@{
    ViewBag.Title = "RegisterDormitory";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<h2>Register a Dormitory</h2>


<div>
    <form action="">

        <div class="form-group">
            <label for="usr">Dormitory address:</label>
            <input type="text" class="form-control" id="adress">
        </div>
        <div class="form-group">
            <label for="dor">Name:</label>
            <input type="text" class="form-control" id="dormname">
        </div>

        <button type="submit" class="btn btn-default">Add</button>  <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Admin")'">Back</button>
    </form>
</div>
